.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary-contrast {
  color: var(--primary-color-text);
}

.cart-wrapper {
  min-height: 100%;
  transition: background 0.3s ease;
}

.flex-grow::-webkit-scrollbar {
  width: 6px;
}

.flex-grow::-webkit-scrollbar-thumb {
  background: var(--surface-300);
  border-radius: 10px;
}

.dark .flex-grow::-webkit-scrollbar-thumb {
  background: var(--surface-700);
}

/* Esto fuerza al contenedor de ngx-paypal a no tener fondo blanco */
.paypal-container-fix {
  background-color: transparent !important;
}

/* Apuntando a los selectores internos que genera la librería */
ngx-paypal ::ng-deep .paypal-buttons {
  background-color: transparent !important;
}

/* En modo oscuro, podemos forzar un filtro sutil si el botón sigue dando guerra */
.dark .paypal-container-fix {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
/* Esto acorta el ancho total del componente */
:host ::ng-deep .compact-input {
    .p-inputnumber-input {
        width: 3rem !important; /* Ajusta este valor a tu gusto (ej. 50px) */
        text-align: center;
        padding: 0.5rem;
    }

    /* Opcional: Hace los botones más pequeños para que combinen */
    .p-inputnumber-button {
        width: 2.5rem;
        padding: 0;
    }
}