<app-mini-cart></app-mini-cart>
<div class="flex flex-col"></div>
<div class="flex flex-col">
    <div class="card">
        <div class="font-semibold text-xl">Catálogo</div>

        <p-dataview [value]="(products$ | async) || []" layout='grid'>

            <ng-template #header>
                <div class="flex justify-end">
                    <p-select-button [(ngModel)]="grid">
                    </p-select-button>
                </div>
            </ng-template>

            <ng-template #grid let-items>
                <div class="grid grid-cols-12 gap-4">
                    <div *ngFor="let item of items; let i = index" class="col-span-12 sm:col-span-6 lg:col-span-4 p-2">
                        <div
                            class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col">
                            <div class="relative w-full shadow-sm">

                                <div class="cursor-pointer" [routerLink]="['/pages/product', item.id]">
                                    <img class="w-full h-120 object-cover rounded" [src]="'/images/' + item.image"
                                        [alt]="item.name" />
                                </div>

                                <div class="absolute bg-black/70 rounded-border" [style]="{left: '4px', top: '4px'}">
                                    <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)"></p-tag>
                                </div>

                            </div>
                            <div class="pt-12">
                                <div class="flex flex-row justify-between items-start gap-2">
                                    <div>
                                        <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                            item.category }}</span>
                                        <div class="text-lg font-medium mt-1 cursor-pointer hover:underline"
                                            [routerLink]="['/pages/product', item.id]">
                                            {{ item.name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-6 mt-6">
                                    <span class="text-2xl font-semibold">$ {{ item.price }}</span>
                                    <div class="w-full">

                                        <p-button *ngIf="!isInCart(item) && !isAnimating(item)"
                                            label="Agregar al carrito" icon="pi pi-shopping-cart"
                                            styleClass="w-full p-button-danger" (onClick)="add(item)">
                                        </p-button>

                                        <div *ngIf="isAnimating(item)"
                                            class="w-full flex justify-center items-center h-[48px]">

                                            <div class="w-full h-[48px] flex items-center justify-center">
                                                <ng-lottie [options]="lottieOptions" class="w-15 h-15"></ng-lottie>
                                            </div>

                                        </div>

                                        <div *ngIf="isInCart(item) && !isAnimating(item)"
                                            class="w-full flex justify-between items-center bg-surface-100 dark:bg-surface-800 px-4 py-2 rounded-lg">

                                            <p-button icon="pi pi-minus" (onClick)="decrease(item)"></p-button>

                                            <span class="font-semibold text-lg">
                                                {{ getQuantity(item) }}
                                            </span>

                                            <p-button icon="pi pi-plus" (onClick)="increase(item)"></p-button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataview>
    </div>
</div>